@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  padding-bottom: 50px;
}
#image img {
  max-width: 100%;
  border: 1px solid grey;
}
